@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RespawnMarket!</h1>
    <p>Please navigate to the "Products"" page to view a list of available products.</p>
</div>
