@page "/admin"
<!--The Index page of for the Admin side of the RespawnMarket application. The script at the end of the file
    is used to tell the browser to run the JavaScript that Blazor requires to use to start the Admin Index page.
    Adds the Authorize attribute for security as well.
-->
@using RespawnMarket.Pages.Admin;
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<!DOCTYPE html>
<html>
<head>
    <title>RespawnMarket Admin</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>